Package: enyora
License: GPLv3
Vendor: nebul4ck
Essential: no
Section: main
Version: 0.0.1
Priority: optional
Architecture: amd64
Maintainer: nebul4ck <a.gonzalezmesas@gmail.com>
#Depends: python-configobj, python-requests, python-configparser
Homepage: https://github.com/nebul4ck/enyora
Description: Save the work turn (clock-in and clock-out) into database and show worked hours daily, weekly, monthly and 
annually from CLI.
